CUD_Output_Trans.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cudSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="cudSubject">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element minOccurs="0" name="oxford_email" type="xs:string" />
                <xs:element minOccurs="0" name="oucs_pcode" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="sso_username" type="xs:string" />
                <xs:element minOccurs="0" name="universitycard_sysis" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="universitycard_status" type="xs:string" />
                <xs:element minOccurs="0" name="universitycard_type" type="xs:string" />
                <xs:element minOccurs="0" name="universitycard_start_date" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="universitycard_comp_date" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="barcode" type="xs:string" />
                <xs:element minOccurs="0" name="universitycard_mifare_id" type="xs:string" />
                <xs:element minOccurs="0" name="universitycard_paxton_id" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="university_card_type" type="xs:string" />
                <xs:element minOccurs="0" name="university_card_status" type="xs:string" />
                <xs:element minOccurs="0" name="university_card_sysis" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="oak_primary_person_id" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="oak_person_ids">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="oak_person_id" type="xs:unsignedInt" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="sits_student_code" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="titl_cd" type="xs:string" />
                <xs:element minOccurs="0" name="frnm1" type="xs:string" />
                <xs:element minOccurs="0" name="frnm2" type="xs:string" />
                <xs:element minOccurs="0" name="surnm" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="unbounded" name="known_as" type="xs:string" />
                <xs:element minOccurs="0" name="gnd" type="xs:string" />
                <xs:element minOccurs="0" name="dob" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="birth_ctry_name" type="xs:string" />
                <xs:element minOccurs="0" name="cntry_of_leg_residency" type="xs:string" />
                <xs:element minOccurs="0" name="primary_email" type="xs:string" />
                <xs:element minOccurs="0" name="ox_email" type="xs:string" />
                <xs:element minOccurs="0" name="alt_email" type="xs:string" />
                <xs:element minOccurs="0" name="primary_phone_no" type="xs:string" />
                <xs:element minOccurs="0" name="mobile_phone_no" type="xs:string" />
                <xs:element minOccurs="0" name="ox_sso" type="xs:string" />
                <xs:element minOccurs="0" name="dom_cd" type="xs:string" />
                <xs:element minOccurs="0" name="dom_hesa_cd" type="xs:string" />
                <xs:element minOccurs="0" name="dom_name" type="xs:string" />
                <xs:element minOccurs="0" name="nationalities">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nationality">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="NatCd" type="xs:unsignedShort" />
                            <xs:element minOccurs="0" name="NatName" type="xs:string" />
                            <xs:element minOccurs="0" name="NatStartDt" type="xs:unsignedInt" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="addresses">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="AddressSeq" type="xs:unsignedByte" />
                            <xs:element minOccurs="0" name="AddressTyp" type="xs:string" />
                            <xs:element minOccurs="0" name="Line1" type="xs:string" />
                            <xs:element minOccurs="0" name="Line2" type="xs:string" />
                            <xs:element minOccurs="0" name="Line3" type="xs:string" />
                            <xs:element minOccurs="0" name="Line4" type="xs:string" />
                            <xs:element minOccurs="0" name="Line5" type="xs:string" />
                            <xs:element minOccurs="0" name="City" type="xs:string" />
                            <xs:element minOccurs="0" name="State" type="xs:string" />
                            <xs:element minOccurs="0" name="County" type="xs:string" />
                            <xs:element minOccurs="0" name="PostCode" type="xs:string" />
                            <xs:element minOccurs="0" name="AddressCtryCd" type="xs:unsignedShort" />
                            <xs:element minOccurs="0" name="AddressCtryDesc" type="xs:string" />
                            <xs:element minOccurs="0" name="AddressEmail" type="xs:string" />
                            <xs:element minOccurs="0" name="TelNo" type="xs:string" />
                            <xs:element minOccurs="0" name="MobileNo" type="xs:string" />
                            <xs:element minOccurs="0" name="Confirmed" type="xs:string" />
                            <xs:element minOccurs="0" name="PrimaryFlag" type="xs:string" />
                            <xs:element minOccurs="0" name="LastUpdateDt" type="xs:unsignedInt" />
                            <xs:element minOccurs="0" name="AddressEntity" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="qualifications">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Qualification">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:choice maxOccurs="unbounded">
                              <xs:element minOccurs="0" name="QualCode" type="xs:string" />
                              <xs:element minOccurs="0" name="QualDesc" type="xs:string" />
                              <xs:element minOccurs="0" name="QualYear" type="xs:unsignedShort" />
                              <xs:element minOccurs="0" name="ClaimedResult" type="xs:string" />
                              <xs:element minOccurs="0" name="PredictedResult" type="xs:string" />
                              <xs:element minOccurs="0" name="QualSitting" type="xs:string" />
                              <xs:element minOccurs="0" name="ApprovedResult" type="xs:string" />
                              <xs:element minOccurs="0" name="AwdBody" type="xs:string" />
                              <xs:element minOccurs="0" name="AwdBodyDesc" type="xs:string" />
                              <xs:element minOccurs="0" name="Subjects">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element minOccurs="0" name="SubjCode" type="xs:string" />
                                          <xs:element minOccurs="0" name="SubjDesc" type="xs:string" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" name="AwdBodyDescUCAS" type="xs:string" />
                            </xs:choice>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="external_ids">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalId">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="ExtId" type="xs:string" />
                            <xs:element minOccurs="0" name="ExtIdType" type="xs:string" />
                            <xs:element minOccurs="0" name="ExtIdStartDt" type="xs:unsignedInt" />
                            <xs:element minOccurs="0" name="ExtIdEndDt" type="xs:unsignedInt" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="applicant">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="ApplicantCode" type="xs:unsignedInt" />
                      <xs:element minOccurs="0" name="ApplicantNumber" type="xs:unsignedInt" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Application">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="OSSCourseCd" type="xs:string" />
                            <xs:element minOccurs="0" name="ApplyCollCd" type="xs:string" />
                            <xs:element minOccurs="0" name="ApplyCollName" type="xs:string" />
                            <xs:element minOccurs="0" name="StartDt" type="xs:unsignedInt" />
                            <xs:element minOccurs="0" name="EndDt" type="xs:unsignedInt" />
                            <xs:element minOccurs="0" name="YearOfProg" type="xs:string" />
                            <xs:element minOccurs="0" name="OutComeStatus" type="xs:string" />
                            <xs:element minOccurs="0" name="OfferResponse" type="xs:string" />
                            <xs:element minOccurs="0" name="ApplyAttendModeCd" type="xs:unsignedByte" />
                            <xs:element minOccurs="0" name="ApplyAttendTypeCd" type="xs:string" />
                            <xs:element minOccurs="0" name="UcasCycle" type="xs:unsignedShort" />
                            <xs:element minOccurs="0" name="ApplyFeeStatusCd" type="xs:string" />
                            <xs:element minOccurs="0" name="FeeStatusName" type="xs:string" />
                            <xs:element minOccurs="0" name="AcadCal" type="xs:string" />
                            <xs:element minOccurs="0" name="CollegeOffer" type="xs:string" />
                            <xs:element minOccurs="0" name="ApplStatus" type="xs:string" />
                            <xs:element minOccurs="0" name="PrgAtmptStatus" type="xs:string" />
                            <xs:element minOccurs="0" name="AwdProg">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" name="AwdCd" type="xs:string" />
                                  <xs:element minOccurs="0" name="AwdName" type="xs:string" />
                                  <xs:element minOccurs="0" name="CrsCd" type="xs:string" />
                                  <xs:element minOccurs="0" name="CrsName" type="xs:string" />
                                  <xs:element minOccurs="0" name="RoutCd" type="xs:string" />
                                  <xs:element minOccurs="0" name="RoutName" type="xs:string" />
                                  <xs:element minOccurs="0" name="OSSCode" type="xs:string" />
                                  <xs:element minOccurs="0" name="PrgCd" type="xs:string" />
                                  <xs:element minOccurs="0" name="PrgName" type="xs:string" />
                                  <xs:element minOccurs="0" name="CrsLevel" type="xs:string" />
                                  <xs:element minOccurs="0" name="AdminDeptCd" type="xs:string" />
                                  <xs:element minOccurs="0" name="AdminDeptName" type="xs:string" />
                                  <xs:element minOccurs="0" name="AdminDivCd" type="xs:string" />
                                  <xs:element minOccurs="0" name="AdminDivName" type="xs:string" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="application_dept_codes" type="xs:string" />
                <xs:element minOccurs="0" name="application_college_codes" type="xs:string" />
                <xs:element minOccurs="0" name="initials" type="xs:string" />
                <xs:element minOccurs="0" name="gnd_name" type="xs:string" />
                <xs:element minOccurs="0" name="birth_ctry_cd" type="xs:unsignedShort" />
                <xs:element minOccurs="0" name="contact_details">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="Value" type="xs:string" />
                            <xs:element minOccurs="0" name="Type" type="xs:string" />
                            <xs:element minOccurs="0" name="SubType" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="student">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:choice maxOccurs="unbounded">
                        <xs:element minOccurs="0" name="StudentNumber" type="xs:unsignedInt" />
                        <xs:element minOccurs="0" name="ProvMatricDt" type="xs:unsignedInt" />
                        <xs:element minOccurs="0" name="LastInstit" type="xs:string" />
                        <xs:element minOccurs="0" name="StudentEndDt" type="xs:unsignedInt" />
                        <xs:element minOccurs="0" name="MatricDt" type="xs:unsignedInt" />
                        <xs:element minOccurs="0" name="Fresher" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Enrolment">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:choice maxOccurs="unbounded">
                                <xs:element minOccurs="0" name="Code" type="xs:string" />
                                <xs:element minOccurs="0" name="Status" type="xs:string" />
                                <xs:element minOccurs="0" name="SCJStage" type="xs:string" />
                                <xs:element minOccurs="0" name="SCJSequence" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="CrsStartDt" type="xs:unsignedInt" />
                                <xs:element minOccurs="0" name="CrsEndDt" type="xs:unsignedInt" />
                                <xs:element minOccurs="0" name="CrsExpEndDt" type="xs:unsignedInt" />
                                <xs:element minOccurs="0" name="CollegeCd" type="xs:string" />
                                <xs:element minOccurs="0" name="CollegeName" type="xs:string" />
                                <xs:element minOccurs="0" name="SCJStatusCd" type="xs:string" />
                                <xs:element minOccurs="0" name="SCJStatusName" type="xs:string" />
                                <xs:element minOccurs="0" name="SprStatusCd" type="xs:string" />
                                <xs:element minOccurs="0" name="SprStatusName" type="xs:string" />
                                <xs:element minOccurs="0" name="TrnsfFromSCJCd" type="xs:string" />
                                <xs:element minOccurs="0" name="TrnsfFromCrsCd" type="xs:string" />
                                <xs:element minOccurs="0" name="TrnsfFromCrsName" type="xs:string" />
                                <xs:element minOccurs="0" name="ResCouncilId" type="xs:string" />
                                <xs:element minOccurs="0" name="ThesisMaxSubmitDt" type="xs:unsignedInt" />
                                <xs:element minOccurs="0" name="Progress" type="xs:string" />
                                <xs:element minOccurs="0" name="DiscontinReasonCd" type="xs:string" />
                                <xs:element minOccurs="0" name="TrnsfToSCJCd" type="xs:string" />
                                <xs:element minOccurs="0" name="TrnsfToDt" type="xs:unsignedInt" />
                                <xs:element minOccurs="0" name="TrnsfToCrsCd" type="xs:string" />
                                <xs:element minOccurs="0" name="TrnsfToCrsName" type="xs:string" />
                                <xs:element minOccurs="0" name="DegreeClassCd" type="xs:string" />
                                <xs:element minOccurs="0" name="DegreeClassName" type="xs:string" />
                                <xs:element minOccurs="0" name="AwardAim" type="xs:string" />
                                <xs:element minOccurs="0" name="ModeOfAttendance" type="xs:string" />
                                <xs:element minOccurs="0" name="AltnFeeEntryYear" type="xs:string" />
                                <xs:element minOccurs="0" name="YearOutcome" type="xs:string" />
                                <xs:element minOccurs="0" name="ThesisFinalInd" type="xs:string" />
                                <xs:element minOccurs="0" name="ThesisStatus" type="xs:string" />
                                <xs:element minOccurs="0" name="CrsLength" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="CrsTotalYears" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="ExpEndTerm" type="xs:string" />
                                <xs:element minOccurs="0" name="FinalYear" type="xs:unsignedShort" />
                                <xs:element minOccurs="0" name="EntryYear" type="xs:string" />
                                <xs:element minOccurs="0" name="StartTerm" type="xs:string" />
                                <xs:element minOccurs="0" name="HESAStartDate" type="xs:unsignedInt" />
                                <xs:element minOccurs="0" name="AwdProg">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="AwdCd" type="xs:string" />
                                      <xs:element minOccurs="0" name="AwdName" type="xs:string" />
                                      <xs:element minOccurs="0" name="UCASCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="CrsCd" type="xs:string" />
                                      <xs:element minOccurs="0" name="CrsName" type="xs:string" />
                                      <xs:element minOccurs="0" name="CrsShortName" type="xs:string" />
                                      <xs:element minOccurs="0" name="RoutCd" type="xs:string" />
                                      <xs:element minOccurs="0" name="RoutName" type="xs:string" />
                                      <xs:element minOccurs="0" name="OSSCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="PrgCd" type="xs:string" />
                                      <xs:element minOccurs="0" name="Finalist" type="xs:string" />
                                      <xs:element minOccurs="0" name="DateAwdConferred" type="xs:date" />
                                      <xs:element minOccurs="0" name="CrsLevel" type="xs:string" />
                                      <xs:element minOccurs="0" name="DegreeCeremonyCd" type="xs:string" />
                                      <xs:element minOccurs="0" name="DegreeCeremonyDt" type="xs:unsignedInt" />
                                      <xs:element minOccurs="0" name="DegreeCeremonyCollegeCd" type="xs:string" />
                                      <xs:element minOccurs="0" name="DegreeCeremonyCourseCd" type="xs:string" />
                                      <xs:element minOccurs="0" name="DegreeCeremonyAwardCd" type="xs:string" />
                                      <xs:element minOccurs="0" name="DegreeCeremonyStatusName" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="YearsOfAwdProg">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="YearAwdProg">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="SCESequence" type="xs:unsignedByte" />
                                            <xs:element minOccurs="0" name="SCEStatusCd" type="xs:string" />
                                            <xs:element minOccurs="0" name="SCEStatusDesc" type="xs:string" />
                                            <xs:element minOccurs="0" name="SCEStatusUpdateDt" type="xs:unsignedInt" />
                                            <xs:element minOccurs="0" name="Occur" type="xs:string" />
                                            <xs:element minOccurs="0" name="AttendModeCd" type="xs:string" />
                                            <xs:element minOccurs="0" name="AttendModeDesc" type="xs:string" />
                                            <xs:element minOccurs="0" name="DeptCd" type="xs:string" />
                                            <xs:element minOccurs="0" name="DeptName" type="xs:string" />
                                            <xs:element minOccurs="0" name="DeptShortName" type="xs:string" />
                                            <xs:element minOccurs="0" name="FeeStatusCd" type="xs:string" />
                                            <xs:element minOccurs="0" name="DivCd" type="xs:string" />
                                            <xs:element minOccurs="0" name="UnitSetCd" type="xs:unsignedByte" />
                                            <xs:element minOccurs="0" name="FeesDesc" type="xs:string" />
                                            <xs:element minOccurs="0" name="ExternalLocCd" type="xs:string" />
                                            <xs:element minOccurs="0" name="ExternalLocDesc" type="xs:string" />
                                            <xs:element minOccurs="0" name="Block" type="xs:string" />
                                            <xs:element minOccurs="0" name="DivDesc" type="xs:string" />
                                            <xs:element minOccurs="0" name="TuitionFeeValue" type="xs:unsignedShort" />
                                            <xs:element minOccurs="0" name="FeeDueDt" type="xs:unsignedInt" />
                                            <xs:element minOccurs="0" name="AcademicYear" type="xs:string" />
                                            <xs:element minOccurs="0" name="FundingType" type="xs:string" />
                                            <xs:element minOccurs="0" name="Co-OwningDepartments">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Co-OwningDepartment">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="CoOwnDptCd" type="xs:string" />
                                                        <xs:element minOccurs="0" name="CoOwnDptDesc" type="xs:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Supervisions">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supervision">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="PersonCode" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperTitlCd" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperTitlDesc" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperFrnm1" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperFrnm2" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperSrnm" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperFullName" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperSrtDt" type="xs:unsignedInt" />
                                            <xs:element minOccurs="0" name="SuperEndDt" type="xs:unsignedInt" />
                                            <xs:element minOccurs="0" name="SuperSupCode" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperExtId" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperDeptCd" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperDeptName" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperDeptShortName" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperTypeCd" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperTypeName" type="xs:string" />
                                            <xs:element minOccurs="0" name="SuperEmail" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="AssessmentsEntered">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssessmentEntered">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="Reassessment" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="ResearchTitle" type="xs:string" />
                                <xs:element minOccurs="0" name="ThesisSubmitDt" type="xs:unsignedInt" />
                                <xs:element minOccurs="0" name="ThesisRsltCd" type="xs:string" />
                                <xs:element minOccurs="0" name="ThesisRsltDesc" type="xs:string" />
                                <xs:element minOccurs="0" name="ThesisRsltDt" type="xs:unsignedInt" />
                                <xs:element minOccurs="0" name="DiscontinDt" type="xs:unsignedInt" />
                              </xs:choice>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Suspension">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" name="SuspendStrDt" type="xs:unsignedInt" />
                              <xs:element minOccurs="0" name="SuspendEndDt" type="xs:unsignedInt" />
                              <xs:element minOccurs="0" name="SuspendSeq" type="xs:unsignedByte" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="college_cd" type="xs:string" />
                <xs:element minOccurs="0" name="course_join_status" type="xs:string" />
                <xs:element minOccurs="0" name="mode_of_attendance" type="xs:string" />
                <xs:element minOccurs="0" name="finalist" type="xs:string" />
                <xs:element minOccurs="0" name="co_owning_dept_code" type="xs:string" />
                <xs:element minOccurs="0" name="rout_name" type="xs:string" />
                <xs:element minOccurs="0" name="crs_exp_end_dt" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="crs_start_dt" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="course_status" type="xs:string" />
                <xs:element minOccurs="0" name="div_cd" type="xs:string" />
                <xs:element minOccurs="0" name="div_desc" type="xs:string" />
                <xs:element minOccurs="0" name="award_aim" type="xs:string" />
                <xs:element minOccurs="0" name="scj_status_name" type="xs:string" />
                <xs:element minOccurs="0" name="unit_set_cd" type="xs:unsignedByte" />
                <xs:element minOccurs="0" name="rout_cd" type="xs:string" />
                <xs:element minOccurs="0" name="dept_cd" type="xs:string" />
                <xs:element minOccurs="0" name="course_block" type="xs:string" />
                <xs:element minOccurs="0" name="oss_student_number" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="title" type="xs:string" />
                <xs:element minOccurs="0" name="lastname" type="xs:string" />
                <xs:element minOccurs="0" name="barcode7" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="firstname" type="xs:string" />
                <xs:element minOccurs="0" name="middlenames" type="xs:string" />
                <xs:element minOccurs="0" name="fullname" type="xs:string" />
                <xs:element minOccurs="0" name="cudid" type="xs:string" />
                <xs:element minOccurs="0" name="hris_staff_number" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="opendoor_staff_number" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="middle_names" type="xs:string" />
                <xs:element minOccurs="0" name="frnm3" type="xs:string" />
                <xs:element minOccurs="0" name="residency_status" type="xs:string" />
                <xs:element minOccurs="0" name="prev_surnm" type="xs:string" />
                <xs:element minOccurs="0" name="prev_surnm_eff_dt" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="bodleian_record_number" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="olis_number" type="xs:string" />
                <xs:element minOccurs="0" name="crs_end_dt" type="xs:unsignedInt" />
                <xs:element minOccurs="0" name="telecom_id" type="xs:string" />
                <xs:element minOccurs="0" name="internal_tel" type="xs:string" />
                <xs:element minOccurs="0" name="external_tel" type="xs:string" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>